@{
    ViewData["Title"] = "Home Page";
}

<div style="margin-bottom:14px">
    <h4 class=".mt-0">خدمات البرمجة</h4>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <img src="https://khamsat.hsoubcdn.com/images/services/2673927/aa7a1030087179ff2f663a427ad143ea.jpg" class="card-img-top"
                 alt="Hollywood Sign on The Hill" />
            <div class="card-body">
                <h5 class="card-title"> متجر الكتروني</h5>
                <p class="card-text">
                    525$
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="https://khamsat.hsoubcdn.com/images/services/2627846/576cc43e415ecc917c3b69777b94c8a2_thumb.jpg" class="card-img-top"
                 alt="Hollywood Sign on The Hill" />
            <div class="card-body">
                <h5 class="card-title">موقع وورد بريسس</h5>
                <p class="card-text">
                    125$
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="https://khamsat.hsoubcdn.com/images/services/1794134/36cf998bb4126094a06c22be66943b3e_thumb.jpg" class="card-img-top"
                 alt="Hollywood Sign on The Hill" />
            <div class="card-body">
                <h5 class="card-title">لارافل</h5>
                <p class="card-text">
                    25$
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="https://khamsat.hsoubcdn.com/images/services/1865896/f0041569fc1b26831a06ccb32cb45b79_thumb.jpg" class="card-img-top"
                 alt="Hollywood Sign on The Hill" />
            <div class="card-body">
                <h5 class="card-title">احتراف الاكسل</h5>
                <p class="card-text">
                    40$
                </p>
            </div>
        </div>
    </div>
</div>
<div style="margin:14px 0">
    <h4 class=".mt-0">خدمات التسويق الالكتروني</h4>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <img src="https://khamsat.hsoubcdn.com/images/services/65526/d550fde3c2c6bb2f58965331a009fb94_thumb.jpg" class="card-img-top"
                 alt="Hollywood Sign on The Hill" />
            <div class="card-body">
                <h5 class="card-title">انشر موقعك</h5>
                <p class="card-text">
                    25$
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="https://khamsat.hsoubcdn.com/images/services/613718/47ded03483367a792e0739d303bf4bd4_thumb.jpg" class="card-img-top"
                 alt="Hollywood Sign on The Hill" />
            <div class="card-body">
                <h5 class="card-title">باك لينك</h5>
                <p class="card-text">
                    78$
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="https://khamsat.hsoubcdn.com/images/services/1341793/8583541f6f5de55364a657717ca509b3_thumb.jpg" class="card-img-top"
                 alt="Hollywood Sign on The Hill" />
            <div class="card-body">
                <h5 class="card-title">محركات البحث</h5>
                <p class="card-text">
                    567$
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="https://khamsat.hsoubcdn.com/images/services/894539/d22dc1d8eb564c8e6b8ab256777e9aa1_thumb.jpg" class="card-img-top"
                 alt="Hollywood Sign on The Hill" />
            <div class="card-body">
                <h5 class="card-title"> متجرالكتروني</h5>
                <p class="card-text">
                    45$
                </p>
            </div>
        </div>
    </div>
</div>

<div style="margin:14px 0">
    <h4 class=".mt-0">خدمات الأعمال</h4>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <img src="https://khamsat.hsoubcdn.com/images/services/1388213/746fb9560b2c6ee39872e88c948c8544.jpg" class="card-img-top"
                 alt="Hollywood Sign on The Hill" />
            <div class="card-body">
                <h5 class="card-title">دراسة جدوي شاملة  </h5>
                <p class="card-text">
                    120$
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="https://khamsat.hsoubcdn.com/images/services/1357363/27a293200f897fd9ab59d70c55385363_thumb.jpg" class="card-img-top"
                 alt="Hollywood Sign on The Hill" />
            <div class="card-body">
                <h5 class="card-title">جبست بوست </h5>
                <p class="card-text">
                    20$
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="https://khamsat.hsoubcdn.com/images/services/1696852/05e84e621a7c6e7f96fe808b94c6e00f_thumb.jpg" class="card-img-top"
                 alt="Hollywood Sign on The Hill" />
            <div class="card-body">
                <h5 class="card-title">  الموارد البشرية</h5>
                <p class="card-text">
                    25$
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="https://khamsat.hsoubcdn.com/images/services/75281/709c3dae57e9826bd68f325b6a17575d_thumb.jpg" class="card-img-top"
                 alt="Hollywood Sign on The Hill" />
            <div class="card-body">
                <h5 class="card-title">  التحليل الاحصائي</h5>
                <p class="card-text">
                    25$
                </p>
            </div>
        </div>
    </div>
</div>